
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300&display=swap');

/*font-family: 'Roboto Flex', sans-serif;*/
* {
  margin: 0;
  padding: 0;
}


/*nav1 end*/




.nav2 {
  height: 12vh;
  display: flex;
  align-items: center;
}

.nav2left img {
  height: 8vh;
  margin-left: 3vw;
}

.nav2mid {
  width: 40vw;
  margin-left: 15vw;
}

.search {
  background-color: black;
  display: flex;
  align-items: center;
  width: 35vw;
  height: 7vh;
}

.search input {
  width: 32vw;
  height: 6.8vh;
  outline: none;
  border: none;
  margin-left: 0.5px;
}

.search img {
  height: 5vh;
  margin: 2.8px;
}

.nav2right {
  display: inline;
  justify-content: space-evenly;
  align-items: center;
}

.nav2right img {
  width: 2vw;
  margin-left: 2vw;
}

.navbar {
  color: white;
}

/*nav end*/

.nav-item{
    margin-left: 5vw;
  }

    .product-cart {
      border: 1px solid #ccc;
      margin-bottom: 10px;
      padding: 5px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 8px;
    }
  
  
  
    .product-cart img {
      width: 7vw;
  
    }
  
    .product-cart button {
      font-size: 1vw;
    }
  
    .product-cart div {
      font-size: 1.5vw;
    }
  
    .cart-headings {
      background-color: black;
      color: white;
      padding-top: 15px;
      padding-left: 8px;
      padding-right: 8px;
      padding-bottom: 15px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 1.5vw;
      border-radius: 8px;
      /* display: none; */
    }
  
    .cart-container {
      max-width: 1300px;
      margin: 0 auto;
    }
  
    .product-cart input {
      width: 70px;
      /* height: 3vw; */
      font-size: 1.6vw;
      outline: none;
      border: none;
    }


  /*cart summar startec*/
  
  .cartsummary {
    width: 35vw;
    height: auto;
    margin-top: 5vw;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    padding-bottom: 2vw;
  }
  
  .summaryheading {
    background-color: black;
    color: white;
  }
  
  .summaryheading p {
    font-size: 2vw;
  }
  .subtotal,
  .shipping,
  .total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.5vw 2vw;
  }
  
  .subtotal,
  .shipping,
  .total p {
    font-size: 1.5vw;
  }
  
  .shipping,
  .total {
    border-bottom: 0.5px solid rgb(193, 193, 193);
  }
  
  .chkoutbtn {
    background-color: black;
    color: white;
    font-size: 1.4vw;
    padding: 0.8vw 2vw;
  }
  
  .chkoutbtn:hover {
    background-color: white;
  
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
      rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
      rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    color: black;
  }
  /*footer started*/
  
  footer {
    background-color: black;
    color: white;
    margin-top: 10vh;
    text-align: center;
    position: absolute;
  }
  
  .footerdiv {
    margin: 0 20%;
  }
  
  h3 {
    padding-top: 10vh;
    font-family: "Oswald", sans-serif;
    font-size: 3vw;
    text-decoration: underline;
    color: rgb(224, 224, 224);
  }
  h2 {
    padding-top: 10vh;
    font-family: "Oswald", sans-serif;
    font-size: 2vw;
    color: rgb(224, 224, 224);
  }
  footer p {
    margin-top: 2vh;
    color: rgb(224, 224, 224);
    font-size: 1.2vw;
  }
  
  .social {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5vh;
  }
  
  .social img {
    width: 3vw;
  }
  
  .footerend {
    margin-top: 5vh;
    padding-top: 10px 0px;
    background-color: black;
  }

/*quries started*/

@media screen and (max-width: 450px) {

    .nav2 {
      height: 15vh;
    }
  
    .nav2right {
      margin-top: 1.5%;
    }
  
    .nav2right img {
      width: 4vw;
    }
  
  
  }
  
  @media screen and (max-width: 630px) {
  
    .nav2mid {
      width: 70vw;
    }
  
    .search {
      width: 60vw;
    }
  
    .search input {
      width: 55vw;
    }
  }
  
  @media screen and (max-width: 800px) {
    .nav2 {
      flex-direction: column;
    }
  
    .nav3 {
      margin-top: 10%;
    }
  
    .nav2mid {
      width: 70vw;
    }
  
    .search {
      width: 60vw;
    }
  
    .search input {
      width: 55vw;
    }
  
    .nav2right {
      margin-top: 0.5%;
    }
  
    .nav2right img {
      width: 3vw;
    }
  
  }
  
  @media screen and (max-width: 800px) {}